<GridLayout rows="auto, *" style="margin: 4px" [row]="tile.row" [column]="tile.column" (tap)="dayTap()"
                [ngClass]="getDateStyle()">

        <label  textWrap=true text="{{ tile.date.getDate() }}" horizontalAlignment="right" verticalAlignment="top"
                [ngClass]="getDateStyle()"></label>
                
        <label [hidden]="!showTileDistance()" 
                [text]="totalDistance" 
                class="backwardsFade"
                style="font-size: 18px; margin-top: 40%;" 
                [ngClass]="getDistanceStyle()" verticalAlignment="center"></label>  
</GridLayout>      
