
<GridLayout rows="80, 60, 150, auto, auto" style="background-color: white;">

    <label row="0" text="Import File:" 
            class="Armata"
            horizontalAlignment="center" 
            verticalAlignment="center"
            style="width: 90%; text-align: center; font-size: 18px;"></label>
    <TextField row="1" horizontalAlignment="center" 
                class="Armata"
                verticalAlignment="center" 
                hint="/FULL/PATH/TO/data.json" 
                style="width: 90%; text-align: center; font-size: 14px;"
                ></TextField>
    <StackLayout row="2" orientation="horizontal" 
                horizontalAlignment="center" verticalAlignment="center" 
                style="background-color: white; width: 90%;">
        <Button class="Armata" text="Import" (tap)="close('OK')" 
                style="width: 230px; font-size: 14px;"></Button>
        <Button class="Armata" text="Cancel" (tap)="close('Cancel')" 
                style="width: 230px; font-size: 14px;"></Button>
    </StackLayout>
  </GridLayout>
