
<StackLayout style="background-color:white" >    
        <DatePicker row="0" [date]="date"
            [minDate]="minDate" [maxDate]="maxDate"
            (dateChange)="onDateChanged($event)" 
            (dayChange)="onDayChanged($event)" 
            (monthChange)="onMonthChanged($event)" 
            (yearChange)="onYearChanged($event)" 
            (loaded)="onDatePickerLoaded($event)"
            verticalAlignment="center">
        </DatePicker>

        <Label row="1" class="nt-icon fas listPicker submitCheck" style="background-color:white" text="&#xf058;" (tap)="close()"></Label>
</StackLayout>
