
<GridLayout class="dayPopup"  verticalAlignment="center" width="500"
        rows="auto, 50, 60, 60, 60, 10, 40, auto" 
        columns="*, 120, 50, 120, *" >

        <Label row="0" colspan="5" class="popup" [text]="dateString" verticalAlignment="center"
                class="dateTitle"></Label>
        <Label row="1" colspan="5" class="popup" text="ADD GOAL"  verticalAlignment="center"></Label>

        <Label row="2" column="1" text="Start Date:" verticalAlignment="center" horizontalAlignment="right"> </Label>
        <Label row="2" column="3" class="selectable" [text]="startDateString" verticalAlignment="center" 
                horizontalAlignment="left" (tap)="selectStartDate()"></Label>
                
        <Label row="3" column="1" text="Activity:" verticalAlignment="center" horizontalAlignment="right"></Label>
        <Label row="3" column="3" class="selectable" [text]="activity" (tap)="selectActivity()" verticalAlignment="center" horizontalAlignment="left"></Label>

        <Label row="4" column="1" rowspan="2" text="Distance:" verticalAlignment="center" horizontalAlignment="right"
                style="margin-bottom: 30px"></Label>
        <TextField row="4" column="3" rowspan="2" class="selectable" height="6%" 
                style="width: 15%; font-size: 18px; color: white; text-align: center;" marginLeft="0"
                verticalAlignment="center" [(ngModel)]="distance" keyboardType="number" horizontalAlignment="left"></TextField>

        <Label row="5" column="1" rowspan="2" text="Units:" verticalAlignment="center" horizontalAlignment="right"></Label>
        <Label row="5" column="3" rowspan="2" class="selectable" [text]="unit" (tap)="selectUnit()" verticalAlignment="center" 
                horizontalAlignment="left"></Label>

        <Label row="7" colspan="5" class="fas submitCheck popup" verticalAlignment="center" 
                text="&#xf058;" (tap)="submitGoal()"></Label>

         
</GridLayout>
