
<StackLayout class="dayPopup"  >
        <Label [text]="entry.date"></Label>
        <Label text="Entry Date: {{ entry.entryDate }}"></Label>
        <Label text="Activity: {{ entry.activity }}"></Label>
        <Label text="Distance: {{ entry.originalEntry }} {{ entry.originalUnit }}"></Label>
        <Label class="fas trashIcon" text="&#xf2ed;" (tap)="deleteEntry()"></Label>
</StackLayout>

<!-- 
date: Date;
entryDate: Date;

distance: number; //in km
activity: string;

originalEntry: number;
originalUnit: string;
 -->