<GridLayout #monthGrid columns="*, *, *, *, *, *, *" rows="auto, auto, *, *, *, *, *, *"
        style="height: 600; width: 385; margin-bottom: 10; margin-left: 10; margin-right: 10" class="backwardsFade">
        <Label row="0" class="calendarTitle" colSpan="7"
                text="{{ monthObject.tiles[0].month }} {{monthObject.tiles[0].year}}" horizontalAlignment="center"
                (tap)="selectMonth()"></Label>

        <Label row="1" column="0" text="Sun" style="font-size: 12px; color: white" horizontalAlignment="center"></Label>
        <Label row="1" column="1" text="Mon" style="font-size: 12px; color: white" horizontalAlignment="center"></Label>
        <Label row="1" column="2" text="Tue" style="font-size: 12px; color: white" horizontalAlignment="center"></Label>
        <Label row="1" column="3" text="Wed" style="font-size: 12px; color: white" horizontalAlignment="center"></Label>
        <Label row="1" column="4" text="Thu" style="font-size: 12px; color: white" horizontalAlignment="center"></Label>
        <Label row="1" column="5" text="Fri" style="font-size: 12px; color: white" horizontalAlignment="center"></Label>
        <Label row="1" column="6" text="Sat" style="font-size: 12px; color: white" horizontalAlignment="center"></Label>

        <ng-template row="2" #tiles></ng-template>

        <Goal-Bar-Controller [monthObject]="monthObject"></Goal-Bar-Controller>


</GridLayout>