@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Animations
@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.backwardsFade {
  animation-name: fade;
  animation-duration: .1s;
  animation-fill-mode: backwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
  }

  to {
    transform: rotate(0deg) scale(2) skew(0deg) translate(100px);
  }
}





////
.Armata {
  font-family: "Armata", "Armata-Regular";
}

.averages {
  margin: 1%;
  background-color: #55475c;
  border-width: 5px;
  border-color: #745f74;
  width: 28%;
  border-radius: 20px;
  font-size: 14px;
}

.averages-title {
  background-color: #4b2f43;
}

.centerText {
  color: const(rgb(38, 64, 148));
  font-size: 14;
  vertical-align: center;
  horizontal-align: center;
  font-family: "Armata", "Armata-Regular";
}

button {
  width: 70%;
  border-radius: 60px;
  font-size: 16px;
  color: white;
  background-color: #4b2f43;
  border-width: 10px;
  border-color: #614b58;
  font-family: "Armata", "Armata-Regular";
}

.dateTitle {
  background-color: white;
  color: #301e36
}

.homeSubmit {
  color: #6b916b;
  font-size: 60px;
  text-align: center;
}

.homeSubmit:active {
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.homeTitle {
  width: 80%;
  text-align: center;
  font-size: 30px;
}

.dayPopup {
  background-color: #413a42;
  color: white;
  vertical-align: middle;
  border-color: white;
  font-size: 16px;
}

.popup {
  background-color: #413a42;
}

.submitCheck {
  color: #6b916b;
  font-size: 30px;
  text-align: center;
  margin: 30px;
  letter-spacing: 1px;
}

.listPicker {
  background-color: white;
  width: 500;
  vertical-align: middle;
  font-size: 16px;
}

.listPicker.submitCheck {
  font-size: 30px;
  background-color: white;
}

.listPicker.prompt {
  color: black;
  font-family: Helvetica;
  height: 130px;
  padding-top: 50px;
}


Label.averages {
  width: 88%;
  padding: 4%;
}


Label.options {
  font-size: 40px;
  color: white;
  font-family: "Armata", "Armata-Regular";
}

Label {
  color: white;
  font-family: "Armata", "Armata-Regular";
  text-align: center;
}

Label.calendarTitle {
  letter-spacing: .1px;
  font-size: 17px;
  margin-bottom: 3px;
}

.navBar {
  font-size: 25px;
}

TextField {
  font-family: "Armata", "Armata-Regular";
}

TextField.distanceInput {
  background-color: #301e36;
  color: white
}

ActionBar {
  background-color: white;
}

ActionBar GridLayout {
  background-color: white;
}

GridLayout {
  background-color: #301e36;
}

StackLayout.default {
  background-color: #301e36;
}

ListView.dayPopup {
  background-color: #413a42;
  border: 0px;
}

.spacer {
  height: 100px
}

.trashIcon {
  color: rgb(201, 92, 77);
  font-size: 30px;
  margin: 30px;
  letter-spacing: 1px;
}

.addIcon {
  color: #64a574;
  font-size: 30px;
  margin: 30px;
  letter-spacing: 1px;
}

.starIcon {
  color: #cca04e;
  font-size: 30px;
  margin: 30px;
  letter-spacing: 1px;
}

.gearIcon {
  color: #b4b4b4;
  font-size: 30px;
  margin: 30px;
  letter-spacing: 1px;
}

.closeIcon {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.calendarNavIcon {
  font-size: 30px;
  margin: 30px;
  color: rgb(196, 196, 196);
  letter-spacing: 1px;
}

.calendarNavBar {
  background-color: black;
}

// Font icon class
.fab {
  font-family: 'Font Awesome 5 Brands', 'fa-brands-400';
  font-weight: 400;
}

.fas {
  font-family: 'Font Awesome 5 Free', 'fa-solid-900';
  font-weight: 900;
}

.far {
  font-family: 'Font Awesome 5 Free', 'fa-regular-400';
  font-weight: 400;
}

// Common page class
.page__content {

  &-icon,
  &-placeholder {
    color: const(grey);
    font-size: 20;
    vertical-align: center;
    horizontal-align: center;
  }

  &-icon {
    font-size: 72;
    vertical-align: top;
    margin-top: 20%;
  }
}


/// Month Tile Styling


.monthTile {
  color: white;
  background-color: black;
}

.monthTile.another {
  color: #6b6b6b;
  background-color: #382c3f;
}

.monthTile.today {
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #b4abab;
  border: solid;
  border-color: rgb(107, 96, 119);
}

.monthTile.today Label.date {
  // background-color: #1f686d;
  height: 24;
  width: 100%;
  text-align: right;

}

.distance {
  font-size: 18px;
}

.distance.goalMet {
  color: #64a574;
}

.distance.none {
  color: #ad5454;
}

.goal.set {
  color: #f1b23c;
}

.goal-bar {
  height: 5;
  background-color: #d49712;
  margin-top: 10%;
}

.goal-bar.middleDay {
  width: 100%;
}

.goal-bar.singleDay {
  width: 40;
  border-radius: 10;
}

.goal-bar.lastDay {
  width: 40;
  border-top-right-radius: 10;
  border-bottom-right-radius: 10;
}

.goal-bar.firstDay {
  width: 40;
  border-top-left-radius: 10;
  border-bottom-left-radius: 10;
}

.selectable {
  background-color: rgb(131, 146, 194);
  padding: 30px;
  border-radius: 40px;
}
