<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="*, *">
    <Label columns="0" class="fas navBar" text="&#xf70c;" (tap)="navRun()"></Label>
    <Label column ="1" class="fas navBar" text="&#xf073;" (tap)="navCalendar()"></Label>

  </GridLayout>
</ActionBar>

<ScrollView (scroll)="onScroll($event)" >
  <StackLayout class="default" >

    <GridLayout class="page__content" rows="320, 230, 150, 30">
      <StackLayout row="0" horizontalAlignment="center"  verticalAlignment="bottom">
        <StackLayout horizontalAlignment="center"  verticalAlignment="bottom"></StackLayout>
        <label text="How many" class="homeTitle" textWrap="true" ></label>
        <label text="{{ unit }}" class="homeTitle" textWrap="true" 
               style="font-size: 50px;" (tap)="titleTap('unit')"></label>
        <label text="did you" class="homeTitle" textWrap="true" ></label>
        <label text="{{ activity }}" (tap)="titleTap('activity')" class="homeTitle" textWrap="true"  style="font-size: 50px;"></label>
        <label text="today?" class="homeTitle" textWrap="true" ></label>
      </StackLayout>

      <TextField  row="1" class="distanceInput" [(ngModel)]="distanceInput" keyboardType="number"
                    style="font-size: 110px; text-align: center; width: 35%;"></TextField>
      
      <Label row="2" verticalAlignment="center" class="nt-icon fas homeSubmit" text="&#xf058;" (tap)="submitEntry()"></Label>

    </GridLayout> 

    <StackLayout class="default" row="0" orientation="horizontal" horizontalAlignment="left" verticalAlignment="center">
      <Label text="mi" style="font-size: 12px; padding-left: 10%;" verticalAlignment="center"></Label>
      <Switch (checkedChange)="onSwitchUnitChange($event)" [checked]="unitKm"
              color="#c4614f" backgroundColor="white" offBackgroundColor="white" 
              horizontalAlignment="center" ></Switch>
      <Label text="km" style="font-size: 12px;" verticalAlignment="center"></Label>
    </StackLayout>

    <GridLayout rows="*, *, "  horizontalAlignment="center">

        <ng-template #calendar row="0"></ng-template>

        <ActivityIndicator row="0" [busy]="isBusy" color="#d9c564" width="70" height="70"></ActivityIndicator>

        <GridLayout row="1" rows="*" columns="100, *, 100" class="calendarNavBar" verticalAlignment="center">
          <Label row="0" column="0" class="fas calendarNavIcon" horizontalAlignment="left" 
                  text="&#xf359;" (tap)="previousMonth()"></Label>
          <Label row="0" column="1" class="fas calendarNavIcon" horizontalAlignment="center"
                  text="&#xf783;" (tap)="resetCalendar()"></Label> 
          <Label row="0" column="2" class="fas calendarNavIcon" horizontalAlignment="right" 
                  text="&#xf35a;" (tap)="nextMonth()"></Label>
        </GridLayout>
    </GridLayout>

  </StackLayout>
</ScrollView>