<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="*, *">
    <Label columns="0" class="fas navBar" text="&#xf70c;" (tap)="navRun()"></Label>
    <Label column ="1" class="fas navBar" text="&#xf073;" (tap)="navCalendar()"></Label>

  </GridLayout>
</ActionBar>

<ScrollView (scroll)="onScroll($event)">
  <StackLayout>

    <GridLayout class="page__content" rows="320, 230, 150, 30">
      <StackLayout row="0" horizontalAlignment="center"  verticalAlignment="bottom">
        <StackLayout horizontalAlignment="center"  verticalAlignment="bottom"></StackLayout>
        <label text="How many" class="homeTitle" textWrap="true" ></label>
        <label text="{{ unit }}" class="homeTitle" textWrap="true" 
               style="font-size: 50px;" (tap)="titleTap('unit')"></label>
        <label text="did you" class="homeTitle" textWrap="true" ></label>
        <label text="{{ activity }}" (tap)="titleTap('activity')" class="homeTitle" textWrap="true"  style="font-size: 50px;"></label>
        <label text="today?" class="homeTitle" textWrap="true" ></label>
      </StackLayout>

      <TextField  row="1" class="distanceInput" [(ngModel)]="distanceInput" keyboardType="number"
                    style="font-size: 110px; text-align: center; width: 35%;"></TextField>
      
      <Label row="2" verticalAlignment="center" class="nt-icon fas homeSubmit" text="&#xf058;" (tap)="submitEntry()"></Label>

    </GridLayout> 

    <GridLayout rows="*, *"  horizontalAlignment="center">
        <!-- <Calendar #calendar row="5"></Calendar>  -->
        <ng-template #calendar row="0"></ng-template>

        <ActivityIndicator row="0" [busy]="isBusy" color="#d9c564" width="70" height="70"></ActivityIndicator>

        <StackLayout row="1" orientation="horizontal" horizontalAlignment="left" verticalAlignment="center">
            <label text="mi" style="font-size: 12px; padding-left: 10%;" verticalAlignment="center"></label>
            <Switch (checkedChange)="onSwitchUnitChange($event)" [checked]="unitKm"
                    color="#c4614f" backgroundColor="white" offBackgroundColor="white" 
                    horizontalAlignment="center" ></Switch>
            <label text="km" style="font-size: 12px;" verticalAlignment="center"></label>
            <button class="fas todayIcon" text="&#xf783;" (tap)="resetCalendar()"></button> 
        </StackLayout>
    </GridLayout>

  </StackLayout>
</ScrollView>